/** Nav SCSS**/
.navbar ul {
  color: #FFF5FD;
  border-radius: 4%;
  background-color: #C490E4;
  text-decoration: none;
  margin: 1vh;
  padding: 0.5vh; }

.navbar li {
  text-align: center;
  text-decoration: underline;
  letter-spacing: 0.1vh; }

.navbar a:hover {
  transition: 0.20s;
  background-color: #FFF5FD; }

.logotipo {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 3px solid black;
  top: 1px;
  left: 20px; }

/** footer SCSS**/
.grilla_pie {
  background-color: #FFF5FD; }
  .grilla_pie footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    padding-top: 30px;
    color: black;
    padding-left: 2vh; }
  .grilla_pie .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
    .grilla_pie .footer-content h3 {
      font-size: 4vh;
      color: #DE84FA;
      word-spacing: 0.5vh;
      letter-spacing: 0.4vh;
      font-family: Alfa Slab One;
      font-weight: bold; }
    .grilla_pie .footer-content p {
      max-width: 500px;
      margin: 10px auto;
      line-height: 28px;
      font-size: 14px;
      color: black; }
  .grilla_pie .socials {
    text-align: center;
    letter-spacing: 0.1vh;
    list-style-type: none;
    display: flex; }
    .grilla_pie .socials li {
      margin: 1vh;
      background-color: #FFF5FD;
      margin: 1vh;
      padding: 0.5vh;
      border-radius: 4%; }
      .grilla_pie .socials li a {
        text-decoration: none;
        color: black; }

* {
  margin: 0%;
  padding: 0%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

.body_index {
  Background-image: url(../imagen/pexels-amanda-hemphill-7440271.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

/** BoxN1 SCSS **/
.boxN1 {
  padding-bottom: 20vh;
  display: inline-block;
  width: 96%;
  height: auto;
  padding-top: 20vh; }
  .boxN1 .boxN1__h1 {
    font-size: 12vh;
    color: #DE84FA;
    word-spacing: 1.5vh;
    letter-spacing: 1vh;
    top: 3vh;
    margin-left: 5vh;
    font-family: Alfa Slab One;
    font-weight: bold;
    text-decoration: none;
    cursor: cell; }
  .boxN1 .boxN1__parrafo__p {
    color: #DE84FA;
    padding: 10px;
    font-size: 40px;
    letter-spacing: 0.5px;
    text-align: justify;
    font-weight: bold;
    font: bold; }
  .boxN1 .boxN1__parrafo li {
    list-style: decimal;
    font-size: 20px;
    text-align: justify;
    color: #FFF5FD; }

/** Imagene SCSS **/
.grilla_Cajan1 {
  background-color: #FFF5FD; }
  .grilla_Cajan1 .card1:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(198, 137, 198, 0.3);
    transition: 0.30s; }
  .grilla_Cajan1 .col img {
    height: 30vh; }
  .grilla_Cajan1 .boton {
    border: 2.9px solid #000000;
    border-radius: 5%;
    margin-bottom: 10px;
    display: inline-flex;
    text-transform: uppercase; }
    .grilla_Cajan1 .boton:hover {
      background-color: #DE84FA;
      color: #FFF5FD;
      transition: .3s ease all; }
    .grilla_Cajan1 .boton .material-symbols-outlined {
      font-variation-settings: 'FILL' 0 'wght' 400, 'GRAD' 0, 'opsz' 48;
      height: 1px; }

/** Pagina Recetas SCSS **/
.fondoheader {
  background-color: #FFF5FD; }

.fondorecetas {
  background-color: #FFF5FD; }

.container .cajarecetas1 {
  background-color: #F6C6EA;
  display: inline-block;
  font-size: 1.6vh;
  border-radius: 0.5%;
  padding: 10vh; }
  .container .cajarecetas1 h3 {
    font-size: 4vh;
    margin: 1vh 1vh 1vh 5vh;
    letter-spacing: 1px;
    margin-bottom: 4vh;
    font-family: Alfa Slab One; }

.container .cajarecetas2 {
  background-color: #C490E4;
  display: inline-block;
  font-size: 1.6vh;
  border-radius: 0.5%;
  padding: 10vh; }
  .container .cajarecetas2 h3 {
    font-size: 4vh;
    margin: 1vh 1vh 1vh 5vh;
    letter-spacing: 1px;
    padding: auto;
    font-family: Alfa Slab One; }

.container .imagenes3 {
  height: 25vh;
  transition: 0.40s;
  border-radius: 5%; }
  .container .imagenes3:hover {
    height: 27vh; }

/** Pagiasn contactos **/
.contactl {
  background-color: #FFF5FD; }
