/** footer SCSS**/
.grilla_pie{
    background-color: $color-secundario;
    footer{
        bottom: 0;
        left: 0;
        right: 0;
        background: #111;
        height: auto;
        padding-top: 30px;
        color: rgb(0, 0, 0);
        padding-left: 2vh;
    }
    .footer-content{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;

             h3{
                font-size: map-get($texto, fontMeddium );
                color: $color-estandar;
                word-spacing: map-get($texto, letspacHigh );
                letter-spacing: map-get($texto, letter-spacing );
                font-family: $tipografia-secundario;
                font-weight: bold;
            }
             p{
                max-width: 500px;
                margin: 10px auto;
                font-size: map-get( $texto, fontSmall );
                color: black;
            } 
        }
        
        .socials{
            text-align: center;
            letter-spacing: map-get($texto, letter-spacing );
            list-style-type:none;
            display: flex;

             li{
                padding: 1vh;
                button{
                    border: map-get($boton, boder );
                    border-radius: map-get($boton, radius );
                    margin-bottom: map-get($boton, mg-bt );
                    display: map-get($boton, display );
                    text-transform: map-get($boton, text-transform );
                    padding: map-get($boton, pad );
                    &:hover{
                        background-color: $color-estandar;
                         color: $color-secundario;
                         transition: .3s ease all;
                    }

        }

    }


}
}