$color-estandar:#DE84FA;
$color-secundario:#FFF5FD;
$color-terciario:#de83ddff;
$color-letras: black ;

$tipografia-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$tipografia-secundario: Alfa Slab One;